@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;600&display=swap');
.serif{
   font-family: "Roboto Condensed", Sans-serif;
}



.smoothie-heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 66px;
  color: var(--e-global-color-secondary);
}